* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #ffffff;
  --background-image: url("./assets/bg-mobile-dark\ \(1080x1920\).jpg");
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface--color: rgba(255, 255, 255, 0.1);
  --surface--color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg: url("./assets/moonstar.svg");
}

.light {
  --text-color: #000000;
  --background-image: url("assets/bg-mobile-light\ \(1080x1920\).jpg");
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface--color: #0000000d;
  --surface--color-hover: rgba(255, 255, 255, 0.336);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg: url("./assets/sum.svg");
}

body {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: top center;
  background-size: cover;
  color: var(--text-color);
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
.profile {
  text-align: center;
  padding: 24px;
}
.profile img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 1px solid var(--stroke-color);
  margin-bottom: 8px;
  object-fit: cover;
}

.profile span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.switch {
  position: relative;
  width: 64px;
  cursor: pointer;
  margin: 4px auto 4px;
}

button {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: #ffffff var(--switch-bg) no-repeat center;
  border: 0;
  position: absolute;
  animation: slide-out 0.2s forwards;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
button:hover {
  outline: 8px solid var(--highlight-color);
}
.switch span {
  cursor: pointer;
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--surface--color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

.light .switch button {
  animation: slide-in 0.3s forwards;
  cursor: pointer;
}

.container ul li {
  width: 100%;
  height: 56px;
  margin: 16px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--surface--color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: background 0.5s;
}

.container ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--text-color);
}

.container ul li:hover {
  background: var(--surface--color-hover);
  border: 2px solid var(--stroke-color);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 24px;
}

.social-links ion-icon {
  width: 24px;
  height: 24px;
}
.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 30px;
  transition: background 0.2s ease-in;
  color: var(--text-color);
}
.social-links a:hover {
  background-color: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
}
footer a {
  color: var(--text-color);
}

@media (min-width: 700px) {
  :root {
    --background-image: url("./assets/bg-dark\ \(1920x1080\).jpg");
  }
  .light {
    --background-image: url("assets/bg-light\ \(1920x1080\).jpg");
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-out {
  from {
    right: 0;
  }
  to {
    right: 50%;
  }
}
